---
import { getEnv } from '../../lib/env'
import voidFile from '../../assets/void.png'
import List from '../../components/list.astro'
import { getChannelInfo } from '../../lib/telegram'

export const getStaticPaths = () => []

const { SITE_URL: siteUrlFromLocals } = Astro.locals ?? { SITE_URL: '/' }
const siteUrl = siteUrlFromLocals || '/'
const staticProxy = getEnv(import.meta.env, Astro, 'STATIC_PROXY') ?? '/static/'

const channelInfo = Astro.params?.id ? await getChannelInfo(Astro) : null
const post = Astro.params?.id
  ? await getChannelInfo(Astro, {
      type: 'post',
      id: Astro.params.id,
    })
  : null

const channel =
  post && channelInfo
    ? {
        ...(channelInfo || {}),
        posts: [post],
        seo: post,
      }
    : {
        ...(channelInfo || {}),
        posts: [],
        seo: {
          noindex: true,
        },
      }
---

<List channel={channel} before={false} after={false} isItem={true}>
  <div slot="header" id="breadcrumb">
    <img
      src={channel?.avatar?.startsWith('http') ? staticProxy + channel?.avatar : voidFile.src}
      alt={channel?.title}
      loading="eager"
      class="breadcrumb-avatar"
    />
    <div class="breadcrumb-title">
      <a href={siteUrl} class="site-title" title={channel?.title}>
        {channel.title}
      </a>
    </div>
  </div>
</List>
